@using Model.EF

@model List<Member>



@{
    OnlineSMSystemDB db = new OnlineSMSystemDB();
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





<div class="left-content">
    <div class="mother-grid-inner">
        <div class="">
            <div class="">
                <h1 class="page-header">
                    Proflie all Employees
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <i class="fa fa-user"></i> @*<a href="@Url.Action("index","QuanLyUser")">Nhân viên</a>*@
                        Employees
                    </li>
                </ol>
            </div>
        </div>

        <div>
            <div style="padding:10px">
                <a class="btn btn-primary" href="@Url.Action("Create", "Emmployee")">
                    Add Employee
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table id="table-taikhoan" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            UserName
                        </th>
                        <th>
                            Full Name
                        </th>


                        <th>
                            CreatedDate
                        </th>
                        <th>Status</th>
                        <th>

                            @Model.Count
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            string _icon = string.Empty;
                            int sst = 1;
                            //string gioitinh = string.Empty;
                            //string username = @item.UserName;
                            <tr>

                                <td>@item.UserName</td>
                                <td>@item.FirstName @item.LastName</td>


                                <td>@item.CreatedDate</td>

                                <td>
                                    @{
                                        switch (item.Status)
                                        {
                                            case true:
                                                _icon = "fa-toggle-on";
                                                break;
                                            case false:
                                                _icon = "fa-toggle-off";
                                                break;
                                        }
                                    }
                                    <div class="huhu" id="success">
                                        <i onclick="myFunction(this)" class="fa @_icon" data-id="@item.MemberID" id="@item.Status.ToString()"></i>
                                    </div>

                                </td>
                                <td style="text-align:center">



                                    @*<button href="#ShowModal" class="btn-dark" data-toggle="modal" value="@item.Status" onclick="ConfirmForm(@item.MemberID,@sst)">Click</button>*@


                                    <a class="btn btn-primary center anchorDetail" href="javascript:void(0);" data-id="@item.MemberID"><i class="fa fa-pencil-square-o x5" aria-hidden="true"></i>Details</a>

                                    @*<a class="btn btn-primary center" href="@Url.Action("Details", "Employee", new { @id = @item.MemberID })"><i class="fa fa-pencil-square-o x5" aria-hidden="true"></i>Details</a>*@

                                </td>

                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='myModal' class='modal' data-toggle="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script>
    function myFunction(x) {
        x.classList.toggle("fa-toggle-off");
        x.classList.toggle('fa-toggle-on');
        var id = $(x).attr('data-id');

        var _class = $(x).attr('class');
        if (_class == "fa fa-toggle-off") {
            x.id = "false";
            $.ajax({
                type: "POST",
                url: '/Employee/changeStatus',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "id": id }),
                datatype: "json",
                success: function (response) {
                    toastr.success("Đã khóa", response);
                    console.log(_class);
                },
                error: function () {
                    alert("hi");
                    console.log(data);
                }
            });
        }
        else if (_class == "fa fa-toggle-on") {
            x.id = "true";
            $.ajax({
                type: "POST",
                url: '/Employee/changeStatus',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "id": id }),
                datatype: "json",
                success: function (data) {
                    toastr.success("Đã mở khóa", data);
                    console.log(_class);
                },
                error: function () {
                    alert("hú");
                    console.log(data);
                }
            });
        }

    }
    var TeamDetailPostBackURL = '/Employee/myModal';
    $(function () {
        $(".anchorDetail").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').show();

                },
                error: function () {
                    alert("hú");
                }
            });
        });
    });
</script>
<script language="JavaScript" type="text/javascript">

    function ConfirmForm(userid, sst) {
        //var us = "";
        //us += username;
        var data = {
            "userid": userid,
            "sst": sst
        };
        document.getElementById("idf").innerHTML = data.userid

    }
    $('#notify').click(function () {
        $('.alert').addClass("show");
        $('.alert').removeClass("hide");
        $('.alert').addClass("showAlert");
        setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
        }, 5000);
    });
    $('.close-btn').click(function () {
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
    });

    function btnedit() {

        $("#message1").hide();
        $("#message2").hide();
        $("#message6").hide();
    }

</script>
<!-- Popup Edit-->
